@charset "UTF-8";
@import url("fonts.css");
* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: AdiLight;
  overflow-x: hidden;
  display: none;
  background-color: #252525;
  height: 100%;
  width: 100%;
}

html {
  background-color: #252525;
  width: 100%;
  height: 100%;
}

.main {
  z-index: 10;
  position: absolute;
  width: 100vw;
  height: 300px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main h {
  max-width: 100vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: AdiBold;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 7px #1d1d1d;
}

.main h p {
  font-size: 25px;
  font-family: AdiLight;
  color: #acacac;
}

.bar {
  position: absolute;
  left: 50%;
  top: 220px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 700px;
  height: 10px;
  border-radius: 8px;
  background: -webkit-gradient(linear, right top, left top, from(#ff4937), to(#3779ff));
  background: linear-gradient(270deg, #ff4937, #3779ff);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

.background img {
  width: 100vw;
  height: 100%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.background .flair {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  width: 0px;
  z-index: 108;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 550px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-filter: drop-shadow(0 3px 3px black);
          filter: drop-shadow(0 3px 3px black);
}

.loginBox,
.registerBox {
  display: block;
  z-index: 109;
  position: absolute;
  right: -70px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 8px;
}

.loginBox input,
.registerBox input {
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
  position: relative;
  left: 50%;
  top: 50%;
  background-color: #2d2d2d;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 270px;
  height: 40px;
  border: none;
  border-radius: 24px;
  padding-left: 50px;
  padding-right: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: Nexa Light;
}

.loginBox button,
.registerBox button {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 270px;
  height: 40px;
  border: none;
  border-radius: 24px;
  padding: 10px;
  margin-top: 35px;
  background-color: #ff3c00;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-family: Nexa Light;
}

.loginBox button:hover,
.registerBox button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #af2900;
}

.registerBox {
  left: 50%;
}

.register-link {
  position: relative;
  left: 50%;
  top: 58px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-family: Nexa Light;
  font-size: 16px;
  color: white;
  text-align: center;
}

.register-link a {
  color: #ff3c00;
  cursor: pointer;
}

.register-link a:hover {
  text-decoration: underline;
}

.title {
  position: absolute;
  left: 50%;
  top: -10px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: white;
  font-family: NexaBold;
  font-size: 65px;
  text-align: center;
}

.subtitle {
  position: absolute;
  left: 50%;
  top: 75px;
  width: 300px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: white;
  font-family: Nexa Light;
  font-size: 17px;
  text-align: center;
}

.close,
.log,
.lout {
  z-index: 111;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: fixed;
  right: 25px;
  top: 23px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.men {
  z-index: 111;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: absolute;
  left: 25px;
  top: 23px;
  width: 35px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.men:hover {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #8e44ad;
}

.close:hover {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #ff3333;
}

.log:hover {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #3bcf74;
}

.lout:hover {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #ff3333;
}

.logo {
  z-index: 107;
  position: absolute;
  top: -3px;
  left: 0px;
  height: 90px;
}

.darkner {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.95;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252525;
}

.flip {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.anim {
  -webkit-animation: anim 1s linear;
          animation: anim 1s linear;
}

.navbg {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: #212121;
}

.menu-mobile {
  z-index: 106;
  visibility: hidden;
  background-color: #292929;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.hey {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
}

.menu-mobile a {
  display: block;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  font-family: NexaBold;
  cursor: pointer;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-animation: swipeRight 1s;
          animation: swipeRight 1s;
  text-decoration: none;
}

.menu-mobile a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ff9100;
}

.navbar {
  z-index: 106;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1.0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 100;
  position: absolute;
  left: 125px;
  top: 30px;
  width: 100vw;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  top: 30px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  background-color: #21212157;
  border-radius: 7px;
  min-width: 160px;
  z-index: 200;
  text-align: center;
  padding: 5px;
}

.navbar .dropdown-content a {
  padding: 0;
}

.navbar .dropdown-content a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ff6c6c;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 24px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  font-family: NexaBold;
  cursor: pointer;
  text-decoration: none;
}

.navbar a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ff9100;
}

.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 300;
  position: absolute;
  width: 250px;
  max-width: 250px;
  height: 37px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.301);
  color: white;
  font-family: Nexa Light;
  font-size: 15px;
  border: solid 2px red;
  top: -80px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0 auto;
}

#success,
#successR {
  z-index: 300;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 300px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}

#success h,
#successR h {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: AdiBold;
  font-size: 40px;
  color: white;
}

#success p,
#successR p {
  -webkit-transition: letter-spacing ease-in 1.5s;
  transition: letter-spacing ease-in 1.5s;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: AdiLight;
  font-size: 25px;
  color: #979797;
  letter-spacing: 0px;
}

ul li {
  margin-bottom: 5px;
}

label {
  color: white;
  font-family: AdiHausB;
}

iframe,
form {
  width: calc(100vw - 60px);
  min-width: 300px;
  border-radius: 7px;
  margin-bottom: 30px;
}

span {
  font-family: AdiHausB;
}

form input {
  position: relative;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

form input[type="radio"] {
  display: inline;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

form input[type="submit"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline;
  width: 100%;
  height: 30px;
  background-color: #ff9100;
  color: white;
  font-family: NexaBold;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #df8d23;
}

form textarea {
  position: relative;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-top: 5px;
  resize: vertical;
  font-family: Nexa Light;
  padding: 10px;
}

form select {
  position: relative;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
}

form option {
  width: 20px;
  height: 30px;
}

.wrap {
  z-index: 2;
  top: 300px;
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-align: center;
  width: 100vw;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.wrap h2 {
  cursor: pointer;
}

.quem-somos,
.o-que-fazemos,
.indicadores,
.recursos,
.mais-apoio,
.adicional {
  display: inline-block;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: relative;
  height: auto;
  color: white;
  margin: 5px;
  border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.quem-somos h,
.o-que-fazemos h,
.indicadores h,
.recursos h,
.mais-apoio h,
.adicional h {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-family: NexaBold;
  font-size: 26px;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.quem-somos p,
.o-que-fazemos p,
.indicadores p,
.recursos p,
.mais-apoio p,
.adicional p {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  padding: 25px;
  text-align: center;
  margin-top: 50px;
}

.quem-somos {
  background-color: #f6c98d;
}

.o-que-fazemos {
  background-color: #ffbe76;
}

.indicadores {
  background-color: #ff7979;
}

.recursos {
  background-color: #badc58;
}

.mais-apoio {
  background-color: #22a6b3;
}

.adicional {
  background-color: #535353;
}

.navbar,
.logo,
.close,
.log,
.men {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
}

.container {
  z-index: 99;
  position: absolute;
  width: 100vw;
  height: auto;
  left: 50%;
  top: 80px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.sec-title {
  position: absolute;
  left: 30px;
  top: 30px;
  font-family: AdiBold;
  color: white;
  font-size: 40px;
}

.sec-subtitle {
  position: absolute;
  left: 30px;
  top: 75px;
  font-family: AdiLight;
  color: #bebebe;
  font-size: 20px;
  margin-right: 30px;
}

bruh {
  color: #ff7300;
}

bruh2 {
  color: #ff0037;
}

.items {
  position: absolute;
  top: 130px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 230px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.items div {
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
}

.items div i {
  color: white;
  font-size: 25px;
  margin-right: 5px;
}

.items div ul {
  margin-top: 10px;
  margin-left: 24px;
  color: white;
  font-size: 20px;
}

.items div h {
  color: white;
  font-size: 25px;
  font-family: AdiBold;
  margin-bottom: 10px;
  margin-right: 30px;
}

.items div p {
  color: white;
  font-size: 16px;
  font-family: AdiHausL;
  margin-bottom: 10px;
  margin-right: 30px;
}

.items div a {
  color: #bba8df;
  text-decoration: none;
}

.items div a:hover {
  color: #aa87eb;
  text-decoration: underline;
}

.items .valores .atividades {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: hidden;
  margin: 0;
  width: 100vw;
  left: -30px;
}

.items .valores .atividades div {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 7px;
  margin-left: 10px;
  background-color: rgba(255, 199, 167, 0.26);
  left: 20px;
  top: 20px;
  padding-top: 10px;
  color: white;
  font-family: AdiBold;
  font-size: 18px;
  text-align: center;
  text-shadow: 2px 2px 3px #272727;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.items .valores .atividades div:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.6;
}

.items #carousel {
  width: 100%;
  height: 100%;
  margin: 30px;
  border-radius: 8px;
  overflow: hidden;
}

.items #carousel .chart {
  position: relative;
  width: 100%;
  min-height: 450px;
  left: -170px;
}

.items #carousel .arrows {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  z-index: 300;
  color: white;
  font-size: 60px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  cursor: pointer;
}

.items #carousel #prev {
  left: 0;
}

.items #carousel #next {
  right: 0;
}

.items #carousel .arrows:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #9dff00;
}

.items #carousel .ind {
  z-index: 200;
  position: relative;
  left: 50%;
  width: 200px;
  height: 20px;
  border-radius: 5px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.items #carousel .ind div {
  position: relative;
  left: 0;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.39);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.items #carousel .ind .current {
  background-color: #ff7b00;
}

.items .uteis li,
.items .unidades li {
  font-size: 17px;
  margin-right: 30px;
}

.items .unidades a {
  color: #9cccdf;
  text-decoration: none;
}

.items .unidades a:hover {
  color: skyblue;
  text-decoration: underline;
}

.items .imagem {
  margin-right: 30px;
}

.items .imagem img {
  border-radius: 7px;
  width: 100%;
  max-width: 1000px;
}

.items .análise p {
  max-width: 1000px;
}

.items .faq div {
  width: 600px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
  margin-right: 50px;
  position: relative;
  left: 0;
  transition: 0.3s;
  height: auto;
  min-height: 50px;
  border-radius: 7px;
  background-color: #2b2b2b;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  -webkit-box-shadow: 8px 8px 23px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 8px 8px 23px 0px rgba(0, 0, 0, 0.39);
}

.items .faq div p {
  position: absolute;
  width: calc(100% - 30px);
  color: white;
  font-family: AdiBold;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.items .faq .pergunta:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #b68721;
}

.items .faq .active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #b68721;
}

.items .faq .resposta {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  min-height: 0px;
  height: 0px;
  margin-top: 3px;
  font-family: AdiLight;
  padding: 10px;
  cursor: auto;
}

.items .faq .resposta h4 {
  color: white;
  font-size: 17px;
  font-family: AdiLight;
  font-weight: 100;
  padding: 10px;
}

.items .faq .resposta ul {
  font-size: 17px;
}

.items .faq .resposta p {
  position: absolute;
  width: 100%;
  color: white;
  font-family: AdiLight;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.items:first-child {
  margin-top: 30px;
}

#qs {
  margin: 0;
}

.wrap-team {
  width: 100%;
  height: 230px;
  border-radius: 7px;
}

.wrap-team .w {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: hidden;
  margin: 0;
  width: 100%;
}

.wrap-team .memberBox {
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 7px;
  margin-left: 10px;
  background-color: rgba(212, 167, 255, 0.26);
  left: 20px;
  top: 20px;
  background-size: 100% 100%;
  color: white;
  text-align: center;
  font-family: AdiBold;
  text-shadow: 2px 2px 3px #272727;
  line-height: 260px;
}

.special {
  max-width: 800px;
}

.half {
  max-width: 450px;
}

.full {
  width: 100%;
}

@media (max-width: 600px) {
  .loginBox,
  .registerBox {
    left: 50%;
  }
  .logo {
    z-index: 107;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .subtitle {
    width: 300px;
    height: 30px;
    top: 80px;
  }
  .men {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    visibility: visible;
    position: fixed;
    left: 25px;
  }
  .menu-mobile {
    visibility: visible;
  }
  .wrap {
    top: 120px;
  }
}

@media (max-width: 1100px) {
  .logo {
    z-index: 107;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .navbar {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.0;
    display: none;
  }
  .men {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    visibility: visible;
    position: fixed;
    right: 25px;
  }
  .menu-mobile {
    visibility: visible;
  }
  .items .faq div {
    width: calc(100% - 50px);
  }
}

@-webkit-keyframes swipeRight {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}

@keyframes swipeRight {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}

@-webkit-keyframes anim {
  0% {
    width: initial;
  }
  100% {
    width: 100%;
  }
}

@keyframes anim {
  0% {
    width: initial;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes anim2 {
  0% {
    width: initial;
  }
  100% {
    width: 0%;
  }
}

@keyframes anim2 {
  0% {
    width: initial;
  }
  100% {
    width: 0%;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}
/*# sourceMappingURL=awesome.css.map */