@import url("fonts.css");

*{
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color:rgba(255, 255, 255, 0); 
}

body{
    transition: 0.3s;
    font-family: Nexa Light;
    overflow-x: hidden;
    height: 2000px;
    background-color: #292929;
    display: none;
    
}

.background img{
    width: 100vw;
    height: 100vh;
    transform: scaleX(-1);
}
.background .flair{
    transition: 0.7s;
    width: 0px;
    z-index: 108;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 550px;
    transform: scaleX(1);
    filter: drop-shadow(0 3px 3px rgb(0, 0, 0));
}

  
.loginBox, .registerBox{
    display: block;
    z-index: 109;
    display: block;
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 8px;
}
.registerBox{
    left: 50%;
}

.loginBox input, .registerBox input{
    transition: font-size 0.3s;
    position: relative;
    left: 50%;
    top: 50%;
    background-color: #2d2d2d;
    color: white;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 24px;
    padding-left: 50px;
    padding-right: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: Nexa Light;
}
.loginBox button, .registerBox button{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 24px;
    padding: 10px;
    margin-top: 35px;
    background-color: #ff3c00;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: Nexa Light;
}
.loginBox button:hover, .registerBox button:hover{
    transition: 0.3s;
    background-color: #af2900;
}

.register-link{
    position: relative;
    left: 50%;
    top: 58px;
    transform: translate(-50%, 0%);
    font-family: Nexa Light;
    font-size: 16px;
    color: white;
    text-align: center;

}
.register-link a{
    color: #ff3c00; 
    cursor: pointer;
}
.register-link a:hover{
    text-decoration: underline;
}

.title{
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translate(-50%, 0%);
    color: white;
    font-family: NexaBold;
    font-size: 65px;
    text-align: center;
}
.subtitle{
    position: absolute;
    left: 50%;
    top: 75px;
    width: 300px;
    transform: translate(-50%, 0%);
    color: white;
    font-family: Nexa Light;
    font-size: 17px;
    text-align: center;
}

.close, .log{
    z-index: 111;
    transition: color 0.3s;
    position: absolute;
    right: 25px;
    top: 23px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}
.men{
    z-index: 111;
    transition: 0.3s;
    visibility: hidden;
    transition: color 0.3s;
    position: absolute;
    left: 25px;
    top: 23px;
    width: 35px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}
.men:hover{
    transition: color 0.3s;
    color: rgb(139, 51, 255);
}
.close:hover{
    transition: color 0.3s;
    color: rgb(255, 51, 51);
}
.log:hover{
    transition: color 0.3s;
    color: rgb(255, 133, 51);
}

.logo{
    z-index: 107;
    position: absolute;
    top: -3px;
    left: 0px;
    height: 90px;
}

.darkner{
    transition: background-color 0.3s;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111111d5;
}

.flip{
    transform: rotate(180deg);
}
.anim{
    animation: anim 1s linear;
}

.navbg{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
}

.menu-mobile{
    z-index: 106;
    visibility: hidden;
    background-color: #292929;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.hey{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}
.menu-mobile a{
    display: block;
    position: relative;
    transition: 0.3s;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    font-family: NexaBold;
    cursor: pointer;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-top: 10px;
    padding-bottom: 10px;
    animation: swipeRight 1s;
}
.menu-mobile a:hover{
    transition: 0.3s;
    color: rgb(255, 145, 0);
}

.navbar{
    z-index: 106;
    transition: opacity 0.3s;
    transition: background-color 0.3s;
    opacity: 1.0;
    z-index: 100;
    position: absolute;
    left: 125px;
    top: 30px;
    width: 100vw;

}
.navbar a{
    transition: 0.3s;
    padding: 16px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-family: NexaBold;
    cursor: pointer;
}
.navbar a:hover{
    transition: 0.3s;
    color: rgb(255, 145, 0);
}

.notification::before{
    content: "Erro: ";
    font-family: NexaBold;
}

.notification{
    z-index: 112;
    position: absolute;
    width: 250px;
    max-width: 250px;
    height: 37px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.301);
    color: white;
    font-family: Nexa Light;
    font-size: 15px;
    border: solid 2px red;
    top: -80px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

@keyframes anim{
    0%{
        width: initial;
    }
    100%{
        width: 100%;
    }
}
@keyframes anim2{
    0%{
        width: initial;
    }
    100%{
        width: 0%;
    }
}

@media screen and (max-width: 600px){
    .loginBox, .registerBox{
        left: 50%;
    }
    .logo{
        z-index: 107;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .subtitle{
        width: 300px;
        height: 30px;
        top: 80px;
    }
    .men{
        transition: 0.3s;
        visibility: visible;
        position: absolute;
        left: 25px;
    }
    .menu-mobile{
        visibility: visible;
    }
}
@media screen and (max-width: 1000px){
    .navbar{
        transition: opacity 0.3s;
        opacity: 0.0;
    }
    .men{
        transition: 0.3s;
        visibility: visible;
        position: absolute;
        right: 25px;
    }
    .menu-mobile{
        visibility: visible;
    }
}
@media screen and (max-width: 999px) and (min-width: 601px){
    .men{
        transition: color 0.3s;
        left: 125px;
    }
    .menu-mobile{
        visibility: visible;
    }
}

.navbar, .logo, .close, .log, .men{
    user-select: none;
    position: fixed;
}

@keyframes swipeRight{
    0%{
        left: 0;
    }
    100%{
        left: 50%;
    }
}