@import url("fonts.css");

*{
    padding: 0;
    margin: 0;
    outline: none;
}

body{
    transition: 0.3s;
    font-family: Nexa Light;
    overflow-x: hidden;
}

.background img{
    width: 100vw;
    height: 100vh;
    transform: scaleX(-1);
}
.background .flair{
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 550px;
    transform: scaleX(1);
    filter: drop-shadow(0 3px 3px rgb(0, 0, 0));
}

  
.loginBox, .registerBox{
    z-index: 3;
    display: block;
    position: absolute;
    left: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 8px;
}
.registerBox{
    left: 50%;
}

.loginBox input, .registerBox input{
    transition: font-size 0.3s;
    position: relative;
    left: 50%;
    top: 50%;
    background-color: #2d2d2d;
    color: white;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 24px;
    padding-left: 50px;
    padding-right: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: Nexa Light;
}
.loginBox button, .registerBox button{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 24px;
    padding: 10px;
    margin-top: 35px;
    background-color: #ff3c00;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: Nexa Light;
}
.loginBox button:hover, .registerBox button:hover{
    transition: 0.3s;
    background-color: #af2900;
}

.register-link{
    position: absolute;
    left: 50%;
    top: 315px;
    transform: translate(-50%, 0%);
    font-family: Nexa Light;
    font-size: 16px;
    color: white;
    text-align: center;

}
.register-link a{
    color: #ff3c00; 
    cursor: pointer;
}
.register-link a:hover{
    text-decoration: underline;
}

.title{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    font-family: NexaBold;
    font-size: 65px;
    text-align: center;
}
.subtitle{
    position: absolute;
    left: 50%;
    top: 80px;
    width: 260px;
    transform: translate(-50%, 0%);
    color: white;
    font-family: Nexa Light;
    font-size: 17px;
    text-align: center;
}

.close{
    z-index: 3;
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}

.logo{
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90px;
}

.darkner{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111111d5;
}

.anim{
    animation: anim 1s linear;
}

@keyframes anim{
    0%{
        width: initial;
    }
    100%{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .loginBox, .registerBox{
        left: 50%;
    }
    .logo{
        z-index: 3;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .subtitle{
        width: 300px;
        height: 30px;
        padding: 10px;
    }
}