@font-face{
    font-family: Nexa Light;
    src: url("assets/fonts/Nexa\ Light.otf");
}

body{
    transition: 0.3s;
    font-family: Nexa Light;
}

.navbar{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 40px;
    background-color: #333333;
}

.navbar a{
    transition: 0.3s;
    cursor: pointer;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 43px;
}

.navbar a#1:hover{ background-color: #42c2f5; }
.navbar a#2:hover{ background-color: #810aff; }
.navbar a#3:hover{ background-color: #ff4d35; }